#cardsDiv{
  width: 550px;
  margin: auto;
}
header{
  background-color: indigo;
  color: white;
  margin: 0px;
}
root{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: blueviolet;
}
h1{
  padding: 0px;
}
